<div class="index-container">
      <img src="/images/beer.png" alt="">
      <button> <a href="/beers">Check the beers</a> </button>
      <button id="random-btn"><a href="/random-beers">Check a random Beer!</a> </button>
</div>